# MATLAB temporary and autosave files
*.asv
*.m~
*.slxc

# Simulink and code generation outputs
.buildtool/
slprj/
*.mex*
*.exe
build/cache/
build/codegen/*
!build/codegen/*_grt_rtw/
build/codegen/*_grt_rtw/*
!build/codegen/*_grt_rtw/*.c
!build/codegen/*_grt_rtw/*.h

# MATLAB project/user metadata
.SimulinkProject/
resources/project/Root.type.Files/

# OS/editor noise
.DS_Store
Thumbs.db
